<br>

<div class="jumbotron">
  <h1 class="display-4">WARNING</h1>
  <p class="lead">Once you delete your profile, this action cannot be undone.</p>
  <hr class="my-4">
  <p>Please click below to proceed with deleting your profile permanently.</p>
  <a class="btn btn-danger btn-lg" href="/delete_user/<%= current_user.id %>" role="button">Delete</a>
</div>