<div>
  <dl>
  <dt>Edit Info</dt>
  <dd>
    <form action="/patch_user/<%= current_user.id %>" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="qs_username" placeholder="Update username..." value="<%= current_user.username %>">
      
      <label for="browser_bio">Bio</label>
      <textarea id="browser_bio" type="text" name="qs_bio" placeholder="Update bio..." value="<%= current_user.bio %>"></textarea>
      
      <button>
        Update User
      </button>
    </form>
  </dd>
  </dl>
</div>