<div class="jumbotron">
  <h1 class="display-4">Under Construction...</h1>
  <p class="lead">This part of our site is currently under construction.  Please check back later.</p>
  <hr class="my-4">
  <p>Coming soon you will be able to purchase items such as timelines and scrapbooks...</p>
  <a class="btn btn-primary btn-lg" href="/users/<%= current_user.username %>" role="button">Home</a>
</div>