<h1>Sign Up</h1>

<form action="/post_user" method="post">
  <div>
    <label for="username_sign_up">Username</label>
    <input id="username_sign_up" type="text" name="qs_username" placeholder="Choose a username...">
  </div>
  
  <div>
    <label for="pass_up">Password</label>
    <input id="pass_up" type="password" name="qs_password" placeholder="Choose a password...">
  </div>
  
  <div>
    <label for="pass_confirm">Password Confirmation</label>
    <input id="pass_confirm" type="password" name="qs_password_confirmation" placeholder="Confirm your password...">
  </div>
  
  <button>
    Sign Up
  </button>
</form>

Already have an account? <a href="/sign_in">Sign in!</a>
