<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row align-items-center">
    <div class="col align-self-start">
    </div>
    <div class="col align-self-center">
      <h1>Sign In</h1>
      <form action="/verify_credentials" method="post">
        <div>
          <label for="user_sign_in">Username</label>
          <input id="user_sign_in" type="text" name="qs_username" placeholder="Enter your username...">
        </div>

        <div>
          <label for="pass">Password</label>
          <input id="pass" type="password" name="qs_password" placeholder="Enter your password...">
        </div>

        <button class="btn btn-primary">Sign In</button>
      </form>

      <nav>
        New user? <a href="/sign_up">Sign up!</a>
      </nav>
    </div>
    <div class="col align-self-end">
    </div>
  </div>
</div>