<br>
<br>

<h4>Create New Location</h4>
<form action="/location_create" method="post">
  <div class="form-group">
    <label for="qs_location_name">Location Name</label>
    <input type="text" class="form-control" id="qs_location_name" name="qs_location_name" placeholder="Enter location name...">

    <label for="qs_address">Location Address</label>
    <input type="text" class="form-control" id="qs_address" name="qs_address" placeholder="Adress line 1, City, State Zip">

    <label for="qs_image">Image URL</label>
    <input type="text" class="form-control" id="qs_image" name="qs_image" placeholder="Insert image URL...">
    
    <label for="qs_bio">Bio</label>
    <textarea type="text" class="form-control" id="qs_bio" name="qs_bio" placeholder="Insert a short description..."></textarea>
    
    <input class="btn btn-success" type="submit" value="Create">
  </div>
</form>