<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<% locations = [{"lat": 41.8987699, "lng": -87.6229168, "infowindow": "Hancock Center" }] %>
<% locations.push({"lat": 41.8921565, "lng": -87.6196592, "infowindow":"\u003ch5\u003e\u003ca href='/locations/1'\u003eMoment\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e 545 N McClurg Ct Chicago, IL 60611\u003c/small\u003e" })%>
<% locations.push({"lat": 41.8902604, "lng": -87.6339464, "infowindow":"\u003ch5\u003e\u003ca href='/locations/3'\u003eJoy District\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e112 W Hubbard St, Chicago, IL 60654\u003c/small\u003e" })%>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%= locations.to_json.html_safe %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
  </script>